* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  color: #070707;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.about-inner {
  display: flex;
  max-width: 485px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.header-list {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px 0;
  border-bottom: 1px solid #828282;
}

.header-list li {
  color: #828282;
}

.header-list li:hover {
  color: #070707;
}

.banner {
  padding-bottom: 100px;
}

.banner-info {
  display: flex;
  justify-content: space-between;
  padding: 39px 0 30px 0;
  align-items: center;
}

.banner-info h1 {
  max-width: 100px;
  font-weight: 700;
}

.banner-info p {
  max-width: 180px;
}

.banner-img {
  width: 100%;
}

.about {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.about-info li {
  list-style: none;
  padding: 30px;
  text-align: center;
}

.title {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
}

.skills-inner {
  display: flex;
  text-align: center;
  flex-direction: column;
}